@import url("https://fonts.googleapis.com/css?family=Fahkwang|Kodchasan|Mandali|Manjari:400,700&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Kodchasan", sans-serif;
  color: #505962;
}

.offset:before {
  content: "";
  display: block;
  height: 4rem;
  margin-top: -4rem;
}

/* ----Navigation---- */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand img {
  height: 2rem;
}

.nav-pills {
  font-size: 1rem;
  /* border: aqua 2px solid; */
  position: fixed;
  right: 1.1rem;
  padding: 0 0 1.4rem 6rem;
}

.nav-pills li {
  padding: 0rem;
}

.navbar-dark .nav-pills .nav-item {
  color: #fff;
  padding-left: 1rem;
}

.navbar-dark .nav-pills .nav-link {
  color: #fff;
  /* padding-left: 1rem; */
}

.navbar-dark .nav-pills .nav-link.active,
.navbar-dark .nav-pills .nav-link:hover {
  /* font-size: 1.01rem; */
  border-bottom: 2px solid #05ffe9;
  border-radius: 0;
  /* padding: 0.55rem 1.01rem 0.55rem 1.201rem; */
  background-color: transparent;
  transform: translateX(-1px);
  transition: all ease-in-out 0.3s;
}

/* ----Landing Page---- */

.home-inner {
  background-image: url("img/bg-dark.png");
  background-size: cover;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: cornsilk;
  text-transform: uppercase;
}

/*============ Text typing ============*/
.banner-caption {
  /* border: 3px yellow solid; */
  text-align: left;
  margin: 0 2rem;
  overflow: hidden;
}

.cd-words-wrapper b {
  /* border: 2px white solid; */
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  /* left: 0; */
  /* top: 0; */
}

.cd-words-wrapper b.is-visible {
  /* border: 5px solid yellow; */
  position: relative;
}

/* xclip */
.cd-headline.clip span {
  /* border: 2px red solid; */
  display: inline-block;
  font-size: 1.5rem;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  text-transform: none;
  opacity: 1;
  font-weight: normal;
}

/* text type css end */

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}

.caption .text-secondary {
  /* border-bottom: 2px solid #05ffe9; */
  color: #05ffe9 !important;
  /* font-size: 4rem; */
  /* margin: 1rem; */
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
}

.btn {
  margin: 1rem 2rem;
}

.btn-lg {
  border-width: medium;
  padding: 0.5rem 1.3rem;
  font-size: 1.1rem;
}

/*------ About section -------*/
#about {
  background-color: #fff;
  padding-top: 4rem;
  margin-left: 8rem;
}

.about-img {
  position: relative;
  margin-top: 3rem;
}
.about-img:before {
  content: "";
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -5%;
  left: -5%;
  z-index: 0;
}
.about-img img {
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 0 85px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 85px 0 rgba(0, 0, 0, 0.14);
}

/* SKill Section Style */
.narrow {
  /* border: 1px solid red; */
  width: 90%;
  margin: 1rem;
  padding-top: 2rem;
  margin-left: 4rem;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #05ffe9;
  margin: 0 auto 2rem;
}

/* ICON COLORS */
.skill .fab.fa-html5 {
  color: #e34f26;
}
.skill .fab.fa-css3 {
  color: #002561;
}
.skill .fab.fa-js {
  color: #f7df1e;
}
.skill .fab.fa-react {
  color: #00d8ff;
}
.skill .fab.fa-node-js {
  color: #215732;
}
/* ICON COLORS END */

/* --------Projects Section STYLE----------- */
.fixed {
  background-image: url("img/project-bg.png"); /*free illustration from @mixkit.co*/
  background-size: cover;
}

.dark {
  background-color: rgba(0, 0, 0, 0.6);
  color: cornsilk;
  padding: 7rem 2rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

/* ------------- Resume section --------------- */

/* --------------- Resume section End ----------------- */

/* --------- Contact Section ----------- */

footer {
  background-color: #40474e;
  color: cornsilk;
  padding: 2rem 0.2rem;
  margin-top: 1rem;
}

footer img {
  height: 4rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}

footer a:hover {
  color: #05ffe9 !important;
}

hr.socket {
  width: 100%;
  border-top: 0.2rem solid #666b71;
  margin-top: 3rem;
}

/* -------------- Media Queries ----------- */
@media (max-width: 767px) {
  .navbar-brand img {
    content: url("img/mobile-logo.png");
    width: 30px;
    margin-left: 0.5rem;
    /* border: 1px solid red; */
  }
  .navbar-brand img:hover {
    border: 2px solid transparent;
    /* width: 40px; */
  }

  .navbar {
    /* border: 1px solid white; */
    padding: 0;
  }

  .caption h1 {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }

  .cd-headline.clip span {
    font-size: 0.68rem;
    padding-bottom: 1.6rem;
    vertical-align: top;
  }

  #navbarResponsive {
    font-size: 0.1rem;
    /* border: aqua 2px solid; */
    text-transform: none;
    font-size: 0.1rem;
    letter-spacing: 1px;
  }

  #navbarResponsive ul {
    padding: 0.5rem 0 0 0;
  }

  .navbar-dark .nav-pills .nav-item {
    margin: 4px;
    padding: 0;
  }
  .navbar-dark .nav-pills .nav-link {
    font-size: 10px;
    font-weight: 700;
    padding: 0;
    margin: auto;
  }

  .navbar-dark .nav-pills .nav-link.active,
  .navbar-dark .nav-pills .nav-link:hover {
    padding: 0rem;
  }

  #about {
    margin: auto;
    font-size: 1rem;
  }

  /* Skills FONT-SIZE */
  #skills h3 {
    font-size: 1.7rem;
  }
  #skills p {
    font-size: 1rem;
  }

  .narrow {
    margin: auto;
  }

  /* Projects FONT-SIZE */
  #projects h3 {
    font-size: 1.7rem;
  }
  #projects p {
    font-size: 1rem;
  }

  #resume img {
    width: 100%;
  }
}

/* 
font-family: 'Mandali', sans-serif;
font-family: 'Manjari', sans-serif;
font-family: 'Kodchasan', sans-serif;
font-family: 'Fahkwang', sans-serif; */

/* =====================BOOTSTRAP BREAK POINTS
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (Landscape phones, 576px and up)
@media (min-sidth: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra Large (xl) devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/
